<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="/" class="logo">
          <img src="{{ "/assets/images/logo-white.png" | relative_url }}" alt="Precision Traffic Surveys"/>
        </a>
      </div>
      <div class="col-md-4 offset-md-1">
        <div class="contact-info">
          <span>Contact us:</span><br>
          PRECISION TRAFFIC SURVEYS LIMITED<br>
          Flat 36, Russell Chambers<br>
          Bury Place<br>
          London<br>
          England<br>
          WC1A 2JX
        </div>
      </div>      
      <div class="col-md-4">
        <div class="contact-info">
         +44 (020) 12345678<br>
         <a href="mailto:contact@precisiontrafficsurveys.com" target="_blank">contact@precisiontrafficsurveys.com</a>
        </div>
      </div>
    </div>
  </div>

</footer>
