<header class="site-header">

    <div class="container"> 
        <div class="row"> 
            <div class="col-md-4"> 
                <a href="{{ "/" | relative_url }}" class="logo">
                  <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Precision Traffic Surveys">
                </a>
                <a href="#" class="toggle"><span></span></a>
            </div>
            <div class="col-md-8">
                <nav class="main-nav">
                    <ul>
                      {% assign sorted_pages = site.pages | sort:"order" %}
                       {% for node in sorted_pages %}
                        {% if node.title %}
                        <li>
                            <a class="page-link {% if page.url == node.url %}active{% endif %}" href="{{ node.url | relative_url }}">
                              <span>{{ node.title | escape }}</span>
                            </a>
                        </li>
                        {% endif %}
                      {% endfor %}
                        <li>
                            <a class="page-link {% if page.url == "/" %}active{% endif %}" href="{{ "/" | relative_url }}">
                              <span>Home</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>