<div class="content-strip alt">
    <div class="container">
      <div class="row">
          <div class="col-md-4">
            <div class="panel-item">
              <h1 class="underline">{{ page.related_title_1 }}</h1>
              <p>
              {{ page.related_content_1 }}
              </p>
              <a href="{{ page.related_link_1 }}" class="btn">Read more</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel-item">
              <h1 class="underline">{{ page.related_title_2 }}</h1>
              <p>
              {{ page.related_content_2 }}
              </p>
              <a href="{{ page.related_link_2 }}" class="btn">Read more</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel-item highlight">
              <h1 class="underline">Contact us</h1>
              <p>
              {{ page.related_content_3 }}
              </p>
              <a href="/contact" class="btn">Enquire now</a>
            </div>
          </div>
      </div>
    </div>
  </div>