.page-banner {
	padding:100px 0 0 0;
	color:$white;
	background: url('images/page-banner.jpg') center center / cover no-repeat; 
}

@media screen and (max-width: 767px) {
	.panel-item {
		margin-bottom:30px;
		&.highlight {
			margin:0;
		}
	}
	.page-img {
		max-width:360px;
		margin:0 auto;
		display:block;
	}
}