---
layout: default
---

<div class="home">  
  <div class="home-strip banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">        
        <h1>{{ page.heading }}</h1>
        <h2>{{ page.subheading }}</h2>
        <a href="contact" class="btn">Enquire now</a>
      </div>
    </div>
  </div>
  </div>
  <div class="content-strip">
    <div class="container">
      <div class="row">
          <div class="col-md-4">
            <img src="http://placehold.it/500x500" alt="Precision traffic surveys" class="page-img">
          </div>
          <div class="col-md-8">
            <h1 class="underline">{{ page.content_heading }}</h1>
            {{ content }}
            <a href="/contact" class="btn">Enquire now</a>
          </div>
      </div>
    </div>
  </div>

  {% include related.html %}

</div>
