<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}


    <main class="page-content">
    	<div class="page-banner banner">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-md-12">
	    				<h1>{{ page.title }}</h1>		
	    			</div>
	    		</div>
	    	</div>
    	</div>
    	<div class="content-strip">
    		<div class="container">
    			<div class="row">
    				<div class="col-md-8">
    					{{ content }}
    				</div>
    				<div class="col-md-4">
    					<img src="{{ page.image }}" alt="{{ page.title }}" class="page-img"/>
    				</div>
    			</div>
    		</div>
    	</div>
    </main>
  
  {% include related.html %}
  
  {% include contact-strip.html %}

    {% include footer.html %}

  </body>

</html>
